body{
    background-color: #f8f8f8;
    width: 100vw;
    color:#767676;
}
.header__inner{
    height: 40px;
    background-color: white;
}
h1{
    color: #f7d84b;
    font-family: Georgia, 'Times New Roman', serif;
    font-style:italic;
    margin: 0 10px;
}
.index_box{
    margin: 20px;
}
.index_box-category{
    display: flex;
    justify-content: space-between;
}
h2{
    height: 20px;
}
.index_category-btn{
    background-color: #ffa929;
    border: solid 1px #ffa929;
    border-radius: 3px;
    padding: 0 20px;
}
.index_category{
    display: flex;
}
.index_search{
    width: 30%;
    margin: 10px;
}
.index_search-box{
    border: solid 1px #c6bab0;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 5px;
}
.index_search-btn{
    background-color: #f5c800;
    border: solid 1px #f5c800;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin: 5px;
}
h3{
    height: 20px;
}
.index_search-sort{
    border: solid 1px #c6bab0;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin: 5px;
}
.index_category-list{
    width: 100%;
}
.index_category-fruit{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}
table{
    border-collapse: separate;
    border-spacing: 10px 0;
}
.fruit-ttl{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.pagination{
    text-align: center;
}
.pagination li{
    display: inline;
}
a{
    text-decoration: none;
    color: black;
}